{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}


{% block main %}
    <section class="container-column">
        <img class="etchebest" src="{{ asset('img/philippe-etchebest-1200x720.jpg') }}">
        <a href="/recettes"><h1 class="titre-accueil">3, 2, 1 Recettes !</h1></a>
    </section>
{% endblock %}
